.copyright {
  color: $Base-Grey;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.copyright__link {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    color: $Base-Primary;
  }

  &:active {
    color: $Primary-Darker;
  }
}
