/* здесь используйте глобальные переменные */
$fonts: "Montserrat", "Arial", sans-serif;

//Colors

$Base-White: #ffffff;
$Base-Grey: #bdbdbd;
$Base-Black: #333333;
$Base-Primary: #7859cf;
$Base-Secondary: #f0ebff;
$Primary-Opacity: rgba(120, 89, 207, 0.25);
$Primary-Lighter: #9070ec;
$Primary-Darker: #593cac;
$Light-Grey: #e2e2e2;
$bg-Grey: #f8f8f8;
$bg-White: #f3ebe1;
$bg-Lavender: #eae6fc;
$bg-Espresso: #e5e6e8;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$tablet-width-only: 1199px;
